.button{
  $gradient: linear-gradient(130deg, ($lime-green 0%), ($bright-cyan 100%));
  padding: 15px 35px;
  border-radius: 30px;
  font-family: 'Public Sans';
  border: none;
  background: $gradient;
  color: $white;
  cursor: pointer;
  &--desktop{
    display: none;
  }
  &--center{
    margin: 30px auto 0;
    display: block;
  }
  &:hover{
    transition: .5s;
    background: linear-gradient(130deg, (lighten($lime-green, 20%) 0%), (lighten($bright-cyan, 20%) 100%));
  }
}