@font-face {
  font-family: 'Public Sans Light';
  src: url('../fonts/PublicSans-ExtraLight.ttf')  format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Regular.ttf')  format('truetype');
}