.loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
  background: radial-gradient($lighter-gray 0%, darken($light-gray-blue, 10%) 100%);
  &__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.7);
  }
}

@include desktop{
  .loading{
    &__logo{
      transform: translate(-50%, -50%) scale(2.3);
    }
  }
}